@model PageSearchWord

@{int previousPage = Model.Page - 1;}
@{int nextPage = Model.Page + 1;}
@{int wordIndex = (Model.Page - 1) * 100 + 1;}



    <body>
        <form action=@Url.Action("SearchPage", "Dictionary") method="post">
            <input type="text" name="searchWord" placeholder="Search word.." />

        </form>
    </body>

@{ if (Model.Page != 1)
    {

        <font size="4">
            @Html.ActionLink("<<", "Index", "Dictionary", new { page = previousPage })
        </font>

    }
}
<font size="4">@Html.ActionLink(">>", "Index", "Dictionary", new { page = nextPage }, null)</font>


<br />
<font size="4">
    @foreach (var anagram in ViewBag.Words)
    {
    <il>


        @{ if (anagram == Model.SearchedWord)
            {
                <font color="red">
                    @wordIndex.
                </font>
            }
            else
            {
                <font color="grey">
                    @wordIndex.
                </font>
            }
        }



    </il>
        @Html.ActionLink((string)anagram, "Index", "Home", new { phrase = (string)anagram }, new { @style = "color:#FFFFFF;" })
        <br />
        wordIndex++;

    }
</font>

@{ if (Model.Page != 1)
    {

        <font size="4">
            @Html.ActionLink("<<", "Index", "Dictionary", new { page = previousPage }, null)
        </font>

    }
}
<font size="4">@Html.ActionLink(">>", "Index", "Dictionary", new { page = nextPage }, null)</font>